 <footer>
    <a href="/contact">Contact</a>
    <br>
<a href="https://terminaldusk.bandcamp.com/">Bandcamp</a>
<a href="https://www.instagram.com/terminalduskrecords/">Instagram</a>
<a href="https://www.youtube.com/@Terminaldusk">YouTube</a>
<a href="https://www.facebook.com/Terminaldusk/">Facebook</a>
<a href="https://www.tiktok.com/@terminalduskrecords?lang=en">TikTok</a>

      <p class="copyright">&copy; {{site.time | date: "%Y"}} Terminal Dusk. Terminal Dusk is a wholly-owned brand and registered assumed name of Timestretching Beard LLC. All rights reserved.</p>
      </footer>