.item-artist {
    img {
        max-width: 320px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}
.artist-appearances {
    padding: 0;
}

.artist-discography {
    padding: 0;
}