header {
    text-align: center;

    img {
  max-height: 300px;
  }

        ul {
    margin: 1rem 0 0;
    padding: 0;
    }
    li {
        margin: 0;
        list-style: none;
         a {
        color: #FFF;
         text-decoration: none;
         text-transform: uppercase;
    }
    }
   
}